body {
  background-image: url(./assets/1003880.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#container-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 20px;
}

.btn {
  height: 35px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#container-api {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  color: black;
  margin-top: 100px;
}

#card {
  width: 200px;
  height: 350px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-image: linear-gradient(#000900, #0004);
  color: #fff;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0px;
  margin-top: 10px;
  text-align: center;
}

.personaje-img {
  width: 120px;
  height: 250px;
  margin-top: 18px;
}

@media (max-width: 1299px) {
  #container-api {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .personaje-img {
    width: 140px;
    height: 240px;
  }
  #card {
    width: 220px;
    height: 380px;
  }
  h2 {
    font-size: 36px;
  }
  #container-btn {
    gap: 10px;
    }
}

@media (max-width: 768px) {
  #container-api {
    grid-template-columns: 50% 50%;
  }
  .personaje-img {
    width: 120px;
    height: 180px;
  }
  #card {
    width: 170px;
    height: 300px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  #container-btn {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 30px;
  }
}